---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
type Props = {
  images: string[];
};

const { images } = Astro.props;

const photos = images.map((image) => (image.startsWith('http') ? image : `/images/products/${image}`));
---

<!-- Slider main container -->
<div class='swiper col-span-1 sm:col-span-2'>
  <!-- Additional required wrapper -->
  <div class='swiper-wrapper'>
    <!-- Slides -->
    {
      photos.map((photoUrl) => (
        <div class='swiper-slide'>
          <img src={photoUrl} alt='Product image' class='w-full h-full object-cover' />
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class='swiper-pagination'></div>

  <!-- If we need navigation buttons -->
  <div class='swiper-button-prev'></div>
  <div class='swiper-button-next'></div>

  <!-- If we need scrollbar -->
  <div class='swiper-scrollbar'></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';

  document.addEventListener('astro:page-load', () => {
    const swiper = new Swiper('.swiper', {
      modules: [Navigation, Pagination],
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination'
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar'
      }
    });
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 600px;
  }
</style>
