---
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';
---

<MainLayout>
  <h1 class='text-3xl'>Home Page</h1>
</MainLayout>
<script>
  import { actions } from 'astro:actions';

  const { data, error } = await actions.getProductPaginate({
    page: 1,
    perPage: 10
  });
  if (error) {
    console.log('Error in fetching data', error);
  }

  console.log('Data', data);
</script>
