---
import MainLayout from '@/layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);

console.log({ session });
---

<MainLayout>
  <h1 class='text-3xl'>Home Page</h1>
  {
    session && (
      <pre>
        <code>{JSON.stringify(session, null, 2)}</code>
      </pre>
    )
  }
</MainLayout>
